name: nakama1
database:
  address:
    - "root@cockroachdb:26257"
socket:
  max_message_size_bytes: 51200
{{ if .profile.nakama.key }}
  server_key: "{{ .profile.nakama.key }}"
{{ else }}
  server_key: "default-key"
{{ end }}
session:
  token_expiry_sec: 864900
{{ if .profile.nakama.key }}
  server_key: "{{ .profile.nakama.key }}"
{{ else }}
  server_key: "default-key"
{{ end }}
runtime:
  http_key: defaultkey
