gcp_project = "{{.profile.omgd.gcp.project}}"
gcp_region  = "{{.profile.omgd.gcp.region}}"
gcp_zone    = "{{.profile.omgd.gcp.zone}}"
project     = "{{.profile.omgd.name}}"
profile     = "{{.profile.Name}}"
