gcp_project = "{{.profile.omgd.gcp.project}}"
gcp_region  = "{{gcpZoneToRegion .profile.omgd.gcp.zone}}"
gcp_zone    = "{{.profile.omgd.gcp.zone}}"
{{ if .profile.omgd.gcp.machine_type }}
gcp_type = "{{.profile.omgd.gcp.machine_type}}"
{{ else }}
gcp_type = "f1-micro"
{{ end }}
project     = "{{.profile.omgd.name}}"
profile     = "{{.profile.Name}}"
