extends Node

const nakama_host = "{{.profile.nakama.host}}"
const nakama_key = "{{.profile.nakama.key}}"
const nakama_port = {{.profile.nakama.port}}
const nakama_secure = {{.profile.nakama.secure}}
const version = "{{.profile.game.version}}"
