namespace TPV {

  public static class GameConfig {
    public const int realWorldSecondsPerDay = {{.realWorldSecondsPerDay}};
    public const string nakamaHost = "{{.nakamaHost}}";
    public const string nakamaKey = "{{.nakamaKey}}";
    public const int nakamaPort = {{.nakamaPort}};
    public const bool nakamaSecure = {{.nakamaSecure}};
    public const string version = "{{.gameVersion}}";
  }
}
