extends Node

const real_world_seconds_per_day = {{.realWorldSecondsPerDay}}
const nakama_host = "{{.nakamaHost}}"
const nakama_key = "{{.nakamaKey}}"
const nakama_port = {{.nakamaPort}}
const nakama_secure = {{.nakamaSecure}}
const version = "{{.gameVersion}}"
