local nk = require("nakama")

local P = {}
P.reverse = {}

{{- range $i, $item := .Items }}
P["{{md5 .Key}}"] = {
  key = "{{.Key}}",
  {{- if .GrowthStages }}
  growthStages = { {{ range $i, $s := .GrowthStages }}{{$s}}, {{end}} },
  {{- end }}
  {{- if .MaxYield }}
  maxYield = {{.MaxYield}},
  {{- end }}
  {{- if .Price }}
  price = {
    {{- range .Price }} {
      item = "{{md5 .Item}}",
      itemKey = "{{.Item}}",
      quantity = {{.Quantity}}
    },{{- end}}
  },
  {{- end }}
  {{- if .Sale }}
  sale = {
    {{- range .Sale }} {
      item = "{{md5 .Item}}",
      itemKey = "{{.Item}}",
      quantity = {{.Quantity}}
    },{{- end}}
  },
  {{- end }}
  {{- if .ComboPrice }}
  comboPrice = {{.ComboPrice}},
  {{- end }}
  {{- if .PurchaseValidation }}
  purchaseValidation = {{.PurchaseValidation}},
  {{- end }}
  {{- if .FromSeeds }}
  fromSeeds = "{{.FromSeeds}}",
  {{- end }}
  {{- if .ToPlant }}
  to_plant = "{{.ToPlant}}",
  {{- end }}
}
P.reverse["{{.Key}}"] = "{{md5 .Key}}"
{{ end }}
return P