local mission_list = {
	{{- range $i, $mission := .Missions }}
	{{.Key}} = {
    title = "{{.Title}}",
		{{- if .Prereqs }}
		prereqs = "{{.Prereqs}}",
		{{- end }}
		{{- if .Reqs }}
		reqs = {
			{{- range $y, $req := .Reqs }}
			{
				key = "{{md5 .Key}}",
				quantity = {{.Quantity}}
			},
			{{- end }}
		},
		{{- end }}
		{{- if .Awards }}
		awards = {
			{{- range $y, $award := .Awards }}
			{
				key = "{{md5 .Key}}",
				quantity = {{.Quantity}}
			},
			{{- end }}
		}
		{{- end }}
  },
	{{- end }}
}

return mission_list