local mission_list = {
	{{- range $i, $mission := .Missions }}
	{{.Key}} = {
    title = "{{.Title}}",
		{{- if .Prereqs }}
		prereqs = "{{.Prereqs}}"
		{{- end }}
  },
	{{- end }}
}

return mission_list