extends Node

const list = {
	{{- range $i, $mission := .Missions }}
	"{{.Key}}": {
    "title": "{{.Title}}",
		{{- if .Prereqs }}
		"prereqs": "{{.Prereqs}}",
		{{- end }}
		{{- if .Reqs }}
		"reqs": {
			{{- range $y, $req := .Reqs }}
			"{{md5 .Key}}": {{.Quantity}},
			{{- end }}
		},
		{{- end }}
		{{- if .Awards }}
		"awards": {
			{{- range $y, $award := .Awards }}
			"{{md5 .Key}}": {{.Quantity}},
			{{- end }}
		}
		{{- end }}
  },
	{{- end }}
}