extends Node

{{- if .profile.omgd.servers.central.host }}
  const nakama_host = "{{.profile.omgd.servers.central.host}}"
{{- else if .profile.omgd.servers.host }}
  const nakama_host = "{{.profile.omgd.servers.host}}"
{{- else }}
const nakama_host = "127.0.0.1"
{{- end }}
{{- if .profile.omgd.nakama.key }}
const nakama_key = "{{.profile.omgd.nakama.key}}"
{{- else }}
const nakama_key = "defaultkey"
{{- end }}
{{- if .profile.omgd.nakama.port }}
const nakama_port = {{.profile.omgd.nakama.port}}
{{- else }}
const nakama_port = 7350
{{- end }}
{{- if .profile.omgd.nakama.secure }}
const nakama_secure = {{.profile.omgd.nakama.secure}}
{{- else }}
const nakama_secure = false
{{- end }}

const version = "{{.game.version}}"
